@import '../styles/variables.module.scss';

.container {
  max-width: 64rem;
  margin: 3rem auto 6rem;
  padding: 0 3em;
}
.pageGrid {
  display: grid;
  grid-gap: $gap6;
}
.innerContentGrid {
  display: grid;
  grid-gap: $gap2;
}
.backToHome {
  margin: 3rem 0 0;
}